.footer {
  background-color: hsla(153, 15%, 51%, 0.906);
  background-color: #f3f3f3;
  padding: 40px 20px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  gap: 40px;
}

.footer-column h3,
.footer-column h4 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 6px;
}

.footer-column a {
  text-decoration: none;
  color: #333;
}

.socials a {
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

