#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffffff;
}


/* Hero section styling */
.hero .background-image {
  background-image: url(backgroundImage);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: larger;
}

.hero-text h1 {
  font-size: 5rem;
  margin: 0.5rem;
  color: #3a3a3a;
}

.hero-text h2 {
  font-size: 2rem;
  margin: 0.5rem;
  color: #454545;
}

.hero button {
  width: 200px;
  padding: 1.5rem;
  margin: 1rem 0rem 0rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: bold;
  background-color: #ffb547;
  border-radius: 35px;
  border: none;
}

.hero button:hover {
  background-color: #ffaa007f;
  cursor: pointer;
}

.salad {
  width: 50%;

}

.background-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.read-the-docs {
  color: #888;
}



/* header stylingen  */
.header {
  background: #ffffff;
  border-bottom: 1px solid #eee;
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Loggan */
.logo {
  font-weight: bold;
  color: #1b544d;
  z-index: 10;
}

/* navigation */
.nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  cursor: pointer;
  color: #222;
  transition: color 0.4s ease;
}
.nav li:hover {
  transform: scale(1.09);
}
.nav li:hover a {
    color: #a44b85;

}
.nav{
  z-index: 10;

}
.nav a {
  color: black;
  text-decoration: none;
}
.actions {
  z-index: 10;
}


/* actions */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.actions:hover {
  transform: scale(1.09);
}
.cta {
  background: #f4a261;
  border: none;
  padding: 8px 16px;
  border-radius: 999px;
  cursor: pointer;
}

.cart{
 z-index: 10;
 font-size: 30px;
}
.cart:hover{
  cursor: pointer;
  transform: scale(1.09);
}

/* Contact section styling */
.contact-section {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem;
}

.contact-section h2 {
  font-size: 2.5rem;
  color: #454545;
  margin: 0;
}
.contact-section h3 {
  font-size: 1.5rem;
  color: #454545;
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-form ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contact-form label {
  font-weight: bold;
  font-size: 1.5rem;
  color: #454545;
  width: 10rem;
}

.contact-form input, textarea {
  padding: 1rem;
  width: 30rem;
  border-radius: 30px;
  border: 2px solid #f4a261;
  background-color: #fff;
  color: #454545;
  font-weight: bold;
}
.contact-form input:focus, textarea:focus {
  outline: none;
  border-color: #e76f51;
}
.contact-form input:invalid {
  background-color: #ffffff;
  color: #db0000;
}
.contact-form input:-webkit-autofill {
  -webkit-text-fill-color: #454545;
  transition: background-color 9999s ease-in-out 0s;
}

.contact-form textarea {
  height: 10rem;
}

.contact-form button {
  width: 200px;
  padding: 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: bold;
  background-color: #ffb547;
  border-radius: 35px;
  border: none;
}
.contact-form button:hover {
  background-color: #ffaa007f;
  cursor: pointer;
}