#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffffff;
}

.hero .background-image {
  background-image: url('../assets/home-banner-background.png');
}

.hero {

  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: larger;

}

.hero-text h1 {
  font-size: 5rem;
  margin: 0.5rem;
  color: #3a3a3a;
}

.hero-text h2 {
  font-size: 2rem;
  margin: 0.5rem;
  color: #6e6e6e;
}

.hero button {
  width: 200px;
  padding: 1.5rem;
  margin: 1rem 0rem 0rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: bold;
  background-color: #ffb547;
  border-radius: 35px;
  border: none;
}

.salad {
  width: 50%;
}