#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffffff;
}

.hero .background-image {
  background-image: url(backgroundImage);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  position: relative;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: larger;
}

.hero-text h1 {
  font-size: 5rem;
  margin: 0.5rem;
  color: #3a3a3a;
}

.hero-text h2 {
  font-size: 2rem;
  margin: 0.5rem;
  color: #454545;
}

.hero button {
  width: 200px;
  padding: 1.5rem;
  margin: 1rem 0rem 0rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: bold;
  background-color: #ffb547;
  border-radius: 35px;
  border: none;
}

.hero button:hover {
  background-color: #ffaa007f;
  cursor: pointer;
}

.salad {
  width: 50%;

}

.background-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}